In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [6]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_trip_data,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

In [12]:
query = """
SELECT * FROM green_trip_data LIMIT 10
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,...,0.5,0.5,2.36,0.00,None,0.3,14.16,1,1,0.0
1,1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2,1,0.0
2,2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2,1,0.0
3,3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,...,0.5,0.5,1.50,0.00,None,0.3,10.30,1,1,0.0
4,4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,...,0.5,0.5,3.06,0.00,None,0.3,18.36,1,1,0.0
5,5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,...,0.5,0.5,0.00,6.12,None,0.3,28.42,2,1,0.0
6,6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,...,0.5,0.5,3.86,0.00,None,0.3,23.16,1,1,0.0
7,7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,...,0.5,0.5,0.00,0.00,None,0.3,3.80,3,1,0.0
8,8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,...,0.0,0.5,0.00,0.00,None,0.3,23.00,1,1,0.0
9,9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,...,0.5,0.5,0.00,0.00,None,0.3,3.80,2,1,0.0

In [25]:
# Question 3

query = """
SELECT COUNT(*)
FROM green_trip_data
WHERE (lpep_pickup_datetime >= '2019-09-18' 
AND lpep_pickup_datetime < '2019-09-19') AND
(lpep_dropoff_datetime >= '2019-09-18'
AND lpep_dropoff_datetime < '2019-09-19')
"""
pd.read_sql(query, con=engine)

   count
0  15612

In [37]:
# Question 4

query = """
SELECT  *  
FROM green_trip_data g
WHERE trip_distance = (SELECT MAX(trip_distance) FROM green_trip_data)
"""
pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,337292,2,2019-09-26 19:32:52,2019-09-27 01:50:27,N,4,265,16,1,341.64,...,1.0,0.5,0.0,0.0,None,0.3,1762.8,2,1,0.0

In [64]:
# Question 5

query = """
SELECT "Borough"  , SUM(total_amount) sum
FROM green_trip_data g JOIN zones z ON g."PULocationID" = z."LocationID"
WHERE (lpep_pickup_datetime < '2019-10-01' AND lpep_pickup_datetime >= '2019-09-01')
GROUP BY "Borough"
ORDER BY sum DESC
"""
pd.read_sql(query, con=engine)

         Borough           sum
0       Brooklyn  2.619089e+06
1         Queens  2.459365e+06
2      Manhattan  2.427794e+06
3          Bronx  8.181581e+05
4        Unknown  2.585028e+04
5  Staten Island  1.124831e+04
6            EWR  7.197000e+02

In [70]:
# Question 6

query =  """
WITH table1 AS
(SELECT * 
FROM green_trip_data g JOIN zones z ON g."PULocationID" = z."LocationID"
WHERE (lpep_pickup_datetime < '2019-10-01' AND lpep_pickup_datetime >= '2019-09-01') AND
("Zone" = 'Astoria' ))

SELECT z."Zone" 
FROM table1 t JOIN zones z ON t."DOLocationID" = z."LocationID"
WHERE tip_amount = (SELECT MAX(tip_amount) FROM table1)
"""

pd.read_sql(query, con=engine)

          Zone
0  JFK Airport